 body {
 				font: 16px Arial, Helvetica, Georgia;
 				 background: #ffffff;
 				 text-align: center;
 				 margin: 0;
 				 padding: 0;
 }
 
 /* Global */
.container {
         width: 50%;
         margin: auto;
         margin-top: 50px;
         margin-bottom: 50px;
 		  	box-shadow: 3px 3px 10px #f4f4f4,
 		  	            -3px -3px 10px #f4f4f4;
 }
.button{
				width: 75%;
				background: #3e64de;
	     border: 0;
	     border-radius: 4px;
	     padding: 16px;
	     color: #ffffff;
	     margin-top: 20px;
	     margin-bottom: 40px;
}
 
 /* header */
 header{
 				background: #0f1d37;
 				max-height: 100px;
 				display: flex;
 				justify-content: space-between;
 				align-items: center;
 }
header img{
      
        }
header ul {
				  list-style-type: none;
			    display: flex;
}
header a {
				color: #ffffff;
				text-decoration: none;
				padding-left: 20px;
				padding-right: 20px;
}
header .current a{
              color: #0096ff;
              }


/* Section */
/* section {background: #ffffff;} */
#main p {
				font-size: 20px;
				margin: auto;
				width: 60%;
				padding-top: 30px;
				padding-bottom: 10px;
}
#main form input[type="text"], input[type="password"] {
				padding: 15px;
				margin-top: 10px;
				margin-bottom: 10px;
				background-color: #eceef4;
				width: 70%;
				border-radius: 4px;
				border: 0;
				
}
#quote {
      width: 76%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
				display: flex;
				justify-content: space-between;
				color: #eeeeee;
}

#quote a {
				color: #eeeeee;
		   text-decoration: none;
				
}
/* footer */
footer {
				padding: 30px;
				background: #f6fafb;
}



@media screen and (max-width: 600px){
      body {font-family: Arial;}
				.container {
								width: 90%;
								margin-top: 20px;
								margin-bottom: 20px;
								
				}
				
				header img {width: 100%;}
				nav{overflow: hidden;} 
				
				#main p{
				        font-size: 16px;
				        width: 40%;
				        padding-bottom: 20px;
				}
			
}
